* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(44, 178, 32);
}

#map {
    height: 90vh;
}

.container {
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.sideinfo {
    background-color: rgb(103, 163, 160);
}

.sideinfo > div {
    padding: 25px;
}

.image {
    height: 200px;
    width: 100%;
}

h3 {
    font-family: sans-serif;
    font-size: 35px;
    color: antiquewhite;
}

p {
    margin-top: 15px;
    font-family: system-ui;
}

.markerPopup {
    background-color: rgb(111, 184, 180);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
    color:antiquewhite;
}

.slider {
    padding: 15px 0;
    text-align: center;
}

.slidebars {
    margin: 0 10px
}

.slidebars > span {
    font-family: sans-serif;
    color: antiquewhite;
    font-weight: bold;
}

.slidebars > i {
    cursor: pointer;
}